/* About */
.card-container {
	background-color: #2c9b96;
	border-radius: 6px;
	color: black;
	padding-top: 15px;
	position: relative;
	width: 350px;
	max-width: 100%;
	text-align: center;
}

.card-container .round {
	border: 2px solid silver;
	border-radius: 50%;
	padding: 4px;
}

img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: top;
}

.name{
    font-size: 20px;
}

.address{
    font-size: 12px;
}

/* Contact */
.icon-btn {
	border-radius: 50%;
	cursor: pointer;
	display: inline-flex;
	font-size: 32px;
	height: 45px;
	width: 45px;
	margin: 0 5px;
	position: relative;
	align-items: center;
    justify-content: center;
	user-select: none;
}

.icon-btn>img{
    height: 20px;
    width: 20px;
}

.linkedin{
	background-color: #0077b5;
}
.github{
	background-color: #24292f;
}
.codewars{
	background-color: #b1361e;
}

/* Skills */
.skills {
	background-color: #09525f;
	text-align: left;
	padding: 10px;
	margin-top: 15px;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	border: 1px solid #24292f;
	border-radius: 5px;
	display: inline-flex;
	font-size: 12px;
	margin: 0 5px 5px 0;
	padding: 8px;
}